:root {
    --text-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
}
body {
    font-family: var(--text-font);
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      margin: 0;
  }

  ul,
  ol {
      margin: 0;
      padding: 0;
  }

  img {
      display: block;
  }

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

/*======HEADER======*/

.header .container {
    display: flex;
    align-items: center;
    height: 80px;
}  

.navigation {
    display: flex;
    align-items: center;
}

.contact-list {
    display: flex;
}

.logo {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #212121;
}

.header .logo {
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    
}
.logo-1-part {
    color: var(--accent-color);
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}

.navigation-list-link:active {
    color: var(--accent-color); 
}

.contact-list {
    margin-left: auto;
    justify-content: flex-end;
}

.contact-mail {
    margin-right: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
}
.contact-mail:hover,
.contact-mail:focus {
    color: var(--accent-color);
}

.contact-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-phone:hover,
.contact-phone:focus {
    color: var(--accent-color);
}
.line {
    border: 1px solid #ECECEC;
    margin: 0;
}
/*======END HEADER======*/

/*======HERO======*/

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
}

.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}  

.hero-header {
    max-width: 700px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    min-width: 200px;
    height: 50px;
    padding: 8px 28px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

/*.hero-btn:hover,
.hero-btn:focus {
    color: var(--accent-color);
}*/
/*====== END HERO======*/

/*======ADVANTAGES======*/

.advantages-list {
    display: flex;
    align-content: center;
    margin-top: 94px;
    margin-bottom: 94px;
}

.advantages-list-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-list-item-header {
    width: 270px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.description {
    width: 270px;
    height: 75px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;   
    letter-spacing: 0.03em;
    color: #757575;
}

.description:not(:last-child) {
    margin-right: 30px;
}
/*====== END ADVANTAGES======*/

/*======Specification======*/

.specification {
    padding-top: 94px;
    padding-bottom: 94px; 
}

.specification .container {
    display: flex;
    flex-direction: column;
 
}

.specification-list {
    display: flex;
    justify-content: space-between;
}


.specification-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;
}

.specification-list-item:not(:last-child) {
    margin-right: 30px;
}

/*====== End Specification======*/

/*======TEAM======*/

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team .container {
    display: flex;
    flex-direction: column;

}

.team-list {
    display: flex;
}

.team-member:not(:last-child) {
    margin-right: 30px;
}

.team-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-member {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.member-name {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;    
}

.member-specialization {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/*======END TEAM======*/

/*======FOOTER======*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-content: center;

}

.footer .logo {
    margin-bottom: 20px;
    color: #FFFFFF
}

.localisation {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF
}

.address-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.localisation:hover,
.localisation:focus {
    color: var(--accent-color);
}
/*======FOOTER======*/

/*======PORTFOLIO SECTIONS======*/

.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-section-list {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.portfolio-section-list-item:not(:last-child) {
    margin-right: 8px;
}

.examples-list-item {
    margin-bottom: 30px;
    width: 370px;
    height: 404px;
}

.examples-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-section-list-button {
    min-width: 103px;
    height: 38px;
    padding: 6px 20px;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.portfolio-section-list-button:hover,
.portfolio-section-list-button:focus {
    background: var(--accent-color);
    color: #FFFFFF;
}

.examples-list-item:not(:nth-child(3n+3)) {
    margin-right: 30px;
}

.examples-list-name {
margin-bottom: 4px;
width: 322px;
height: 36px;
}

.examples-list-name-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.examples-list-item-section {
width: 322px;
height: 30px;
}

.examples-list-item-section-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}

.examples-list-item-margin {
    padding: 20px 24px;
}

.marginbot {
    margin-bottom: 0;
}
/*====== END PORTFOLIO SECTIONS======*/
